.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.content-window{
    height: 720px;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
    border-image: linear-gradient(to right, #6be89b, #0076a5) 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 

    animation: fadeIn 3s ease;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
}
.window{
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
}

.window-view{
    /* padding: 10px; */
    margin: 0 auto;
    display: grid;
    width:100%;
    gap: 10px;
    grid-template-rows: 1fr 30px;
    /* position: relative; */

}
.search-input{
    width: 100%;
    height: 42px;
    padding: 0 20px;
}
.view-content{
    width: 100%;
    height: auto;
}
.view-footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgb(107,232,155);
    background: linear-gradient(90deg, rgba(107,232,155,1) 0%, rgba(0,118,165,1) 70%);
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -8px;
}

